django==5.1.4
djangorestframework==3.14.0
psycopg[binary]==3.3.5
whitenoise==6.7.0
pytest==7.4.3
pytest-django==4.7.0
python-jose[cryptography]==3.5.0
bcrypt==4.0.1
groq==1.7.0
google-auth==2.25.2
requests==2.34.2
nvidia-riva-client==2.27.0
pydub==0.25.1
audioop-lts==0.2.1
gunicorn==23.0.0
python-dotenv==1.2.3
email-validator==2.3.0
