# FastAPI
DEBUG=
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

# MongoDB
MONGODB_URL=
MONGODB_DB_NAME=

# External APIs
GROQ_API_KEY=
LLM_MODEL=
NVIDIA_API_KEY=
NVIDIA_API_BASE_URL=
NVIDIA_ASR_FUNCTION_ID=
NVIDIA_ASR_GRPC_URI=
NVIDIA_ASR_LANGUAGE_CODE=

# CORS
ALLOWED_ORIGINS=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
